

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#typing-area {
    margin: 10px;
}

#feedback {
    color: red;
    size: 48px;
    font-weight: bold;
}

.highlight {
    color: blue;
    font-weight: bold;
}

.correct {
    color: green;
    font-weight: bold;
}

.incorrect {
    color: red;
    font-weight: bold;
}

#timer {
    color:purple;
    font-weight: bold;
}
